.weather-app {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #e58cdb;
  border-radius: 40px;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
h1 {
  text-align: center;
  font-size: 30px;
  color: #87e5da;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  color: #92a4c0;
}

footer {
  font-size: 10px;
}
.temperature {
  font-size: 46px;
}
