body {
  max-width: 900px;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: #ebf0f6;
  color: #92a4c0;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #98ccd3;
}
h2 {
  text-transform: uppercase;

  font-size: 24px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0 auto;
}

li:first-letter {
  text-transform: capitalize;
}

footer {
  font-size: 10px;
  text-align: center;
}
form {
  margin: 10px;
}
a {
  text-decoration: none;
  color: #98ccd3;
}
a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #98ccd3;
}
.weather-icon img {
  max-block-size: 65px;
  margin: 10px 10px;
  position: relative;
}
.weather-app {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #e58cdb;
  border-radius: 40px;
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%) 50%;
}
.temperature {
  font-size: 46px;
  color: #e58cdb;
}
.units {
  position: relative;
  top: -23px;
  color: #98ccd3;
}

.feels-like {
  color: #e58cdb;
}
.today {
  margin: 0px auto;
  max-width: 700px;

  border-radius: 40px;
  padding: 15px 30px;

  background: linear-gradient(
    171.8deg,
    rgb(5, 111, 146) 13.5%,
    rgb(6, 57, 84) 78.6%
  );
}

.current-location {
  color: #e58cdb;
}

.units .active {
  text-decoration: none;
  cursor: default;
  font-size: 23px;
  color: #98ccd3;
}
.units .active:hover {
  text-decoration: none;
  font-weight: normal;
}
