body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #98ccd3;
}
h2 {
  text-transform: uppercase;
  color: #92a4c0;
  font-size: 24px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  color: #92a4c0;
}

li:first-letter {
  text-transform: capitalize;
}

footer {
  font-size: 10px;
  text-align: center;
}
form {
  margin: 10px;
}
.weather-icon img {
  max-block-size: 65px;
  margin: 10px 10px;
  position: relative;
}
.weather-app {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #e58cdb;
  border-radius: 40px;
  background: linear-gradient(
    171.8deg,
    rgb(5, 111, 146) 13.5%,
    rgb(6, 57, 84) 78.6%
  );
}
.temperature {
  font-size: 46px;
  color: #e58cdb;
}
.units {
  position: relative;
  top: -23px;
  color: #98ccd3;
}
.feels-like {
  color: #e58cdb;
}
.today {
  margin-top: 15px;
}
.date {
  color: #92a4c0;
}
